body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: cyan;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline;
}

.cor-de-fundo {
    background-color: darkgray;
}

p {
    font-size: 3em;
    font-weight: 600;
}

#item-1 {
    background-color: yellow;
}

#item-2 {
    background-color: red;
}

#item-3 {
    background-color: maroon;
}